[Unit]
Description=Producer-Output Service
After=network.target

[Service]
Type=simple
User=vagrant
ExecStart=/usr/local/bin/producer-output.sh
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
